@media screen and (max-width:576px) {
    .desk-nav-main{
        display: none;
    }
    .canwa-Menubar{
        display: block;
    }

    .call-now-002 h1 {
        font-size: 14px;
    }
    .Counter-1 {
        font-size: 40px;
    }
    .call-Now-Button a {
        top: 41%;  
        font-size: 12px;
        padding: 6px 12px;
        
    }
    .dogbreed-heading-003 h1 {
        font-size: 30px;
    }
    .health-check-002 i {
        font-size: 22px;
        padding: 18px;
       
    }
    .health-check-002 h3 {
        font-size: 17px;
    }
    .record-004 h2 {
        font-size: 18px;
        font-weight: 700;
    }
    .carousel-control-next-icon {
        padding: 6px 6px;
        background-size: 15px;
    }
    .carousel-control-prev-icon {
        padding: 6px 6px;
        background-size: 15px;
    }
    .aboutUs-Content h1 {
        font-size: 26px;
    }
}

@media screen and (min-width:577px) and (max-width:767px) {
    .desk-nav-main {
        display: none;
    }
    .canwa-Menubar{
        display: block;
    }
    .call-now-002 h1 {
        font-size: 18px;
    }
    .Counter-1 {
        font-size: 34px;
    }
    .record-004 h2 {
        font-size: 16px;
    }
}


@media screen and (min-width:768px) and (max-width:991px) {
    .desk-nav-main {
        display: none;
    }
    .canwa-Menubar{
        display: block;
    }
    .call-now-002 h1 {
        font-size: 22px;
    }
    .health-check-002 h3 {
        font-size: 17px;
     }
}